@import '_cd_variables.scss'
body
    height: 100%

.wrapper
    min-height: 100%
    position: relative

.container
    height: 100%

footer
    position: absolute
    bottom: 0
    width: 100%
    color: white
    line-height: $space * 3
    text-align: center
