{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coding Diaries{% block title %} {% endblock %}</title>
    {# Vendor CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    {# CSS #}
    <link rel="stylesheet" href="{% static 'cd/css/styles.css' %}" media="screen" title="no title" charset="utf-8">
    {# Vendor JS #}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>
        <header>
            <nav class="grey darken-3">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">CodingDiaries</a>
                    <ul class="right hide-on-med-and-down icon-menu">
                        <li><a href="sass.html">
                            <span class="icon">
                                <i class="fa fa-book fa-fw"> </i>
                                <span class="icon-label">Projects</span>
                            </span>
                        </a></li>
                        <li><a href="badges.html">
                            <span class="icon">
                                <i class="fa fa-file-text-o fa-fw"> </i>
                                <span class="icon-label">Entries</span>
                            </span>
                        </a></li>
                        <li><a href="collapsible.html">
                            <span class="icon">
                                <i class="fa fa-plus fa-fw"> </i>
                                <span class="icon-label">New</span>
                            </span>
                        </a></li>
                        <li><a href="mobile.html">
                            <span class="icon">
                                <i class="fa fa-user fa-fw"> </i>
                                <span class="icon-label">User</span>
                            </span>
                        </a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </main>
        <footer class="page-footer grey darken-3">
            <div class="footer-copyright">
                <div class="container"> Coding Diaries | {% now "Y" %} </div>
            </div>
        </footer>
</body>
</html>
