{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coding Diaries - Login</title>
    {# Vendor CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    {# CSS #}
    <link rel="stylesheet" href="{% static 'cd/css/login.css' %}">
    {# Vendor JS #}
    <script defer type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>
    <main class="login-page grey darken-3">
        <div class="container">
            <div class="row">
                <h1 class="login-title">Coding Diaries</h1>
            </div>
            <div class="row">
                {% if error %}
                <div class="col s4 offset-s4">
                    <div class="error-message z-depth-2">
                        {{ error }}
                    </div>
                </div>
                {% endif %}
                <form class="col s12" method="post"> {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <i class="fa fa-user prefix"></i>
                            <input id="username" type="text" name="username" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <i class="fa fa-key prefix"></i>
                            <input id="password" type="password" name="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 offset-s5">
                            <input class="waves-effect waves-light btn" type="submit" name="login" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="login-footer">
            <i class="fa fa-code"></i> <i class="fa fa-book"></i> | {% now "Y" %}
        </footer>
    </main>
</body>
</html>
